<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理画面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1>管理画面トップ</h1>
    <p>ようこそ、<span th:text="${title}">タイトル</span>へ</p>

    <a href="/admin/create" class="btn btn-primary mb-3">新規イベント作成</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>イベントID</th>
                <th>キーワード</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.groupId}"></td>
                <td th:text="${event.groupName}"></td>
                <td>
                    <a th:href="@{admin/riddles/{id}(id=${event.groupId})}" class="btn btn-sm btn-primary">シナリオ編集</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>