<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gantaro.mysterybot.repository.MasterRiddleRepository">
    
    <select id="findById" resultType="com.gantaro.mysterybot.entity.MasterRiddle">
        SELECT m.*, i.uuid AS image_uuid
        FROM master_riddles m
        LEFT JOIN riddle_images i ON m.image_id = i.id
        WHERE m.id=#{id}
    </select>

    <select id="findAll" resultType="com.gantaro.mysterybot.entity.MasterRiddle">
        SELECT m.*, i.uuid AS image_uuid
        FROM master_riddles m
        LEFT JOIN riddle_images i ON m.image_id = i.id
        ORDER BY m.id
    </select>

    <insert id="insert" parameterType="com.gantaro.mysterybot.entity.MasterRiddle">
        INSERT INTO master_riddles(question,answer,hint_msg,next_msg,image_id,category) VALUES(#{question},#{answer},#{hintMsg},#{nextMsg},#{imageId},#{category})
    </insert>

    <delete id="delete">
        DELETE FROM master_riddles WHERE id=#{id}
    </delete>

</mapper>