<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gantaro.mysterybot.repository.RiddleImageRepository">
    <insert id="insert" parameterType="com.gantaro.mysterybot.entity.RiddleImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO riddle_images(uuid,data,mime_type) VALUES(#{uuid},#{data},#{mimeType})
    </insert>

    <select id="findByUuid" resultType="com.gantaro.mysterybot.entity.RiddleImage">
        SELECT * FROM riddle_images WHERE uuid=#{uuid}
    </select>

    <select id="findById" resultType="com.gantaro.mysterybot.entity.RiddleImage">
        SELECT * FROM riddle_images WHERE id=#{id}
    </select>
</mapper>