<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gantaro.mysterybot.repository.SolvedHistoryRepository">
    <select id="findSolvedRiddleIds" resultType="Integer">
        SELECT riddle_id FROM solved_histories WHERE player_id = #{playerId}
    </select>
    
    <insert id="insert">
        INSERT INTO solved_histories (player_id, riddle_id, solved_at)
        VALUES (#{playerId}, #{riddleId}, NOW())
    </insert>

    <delete id="deleteByPlayerId">
        DELETE FROM solved_histories WHERE player_id = #{playerId}
    </delete>

    <delete id="deleteByRiddleId">
        DELETE FROM solved_histories WHERE riddle_id = #{riddleId}
    </delete>
</mapper>